#text_for_input {
  font-size: 1.4em;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

#input {
  background-color: rgb(68, 228, 175);
  width: 20em;
  font-size: 1.2em;
  margin-bottom: 0.1em;
}

#error {
  color: red;
  font-size: 1.15em;
  margin-bottom: 0.1em;
}
